* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #284dab;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #a91e58;
    color: #591ca9;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #9f11c2;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 60px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
}

section#about p {
    text-align: center;
    font-size: 1.2em;
    color: #db0f0f;
}

section#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

section#skills li {
    background-color: #a71479;
    color: #2609a9;
    padding: 10px 20px;
    border-radius: 5px;
}

section#projects .project {
    margin-bottom: 30px;
}

section#projects h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

section#projects p {
    color: #5c1dc2;
}

section#contact a {
    color: #a5cb0f;
    text-decoration: none;
}

section#contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: #c22559;
    color: #db13d8;
    text-align: center;
    padding: 20px 0;
}
.profile-pic {
    display: block;
    width: 150px; /* Adjust size */
    height: 150px; /* Adjust size */
    border-radius: 50%; /* Circular shape */
    margin: 0 auto 20px auto; /* Center and add spacing */
    box-shadow: 0 4px 6px rgba(236, 21, 233, 0.2);
}
